body {
    /* background-image: url("images/giphy.gif"); */
    background-color: black;
    background-size: cover;
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
    align-self: center;
}

h1 {
    color: #c5d4f8;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 10px;
    margin-bottom: 0;
}

p {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10%;
    margin-left: 10%;
}